@import 'bulma/bulma';
@import 'libs/mixins';
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  body {
    @include font-smoothing(on);
    
    .burger {
      color: $grey-dark;
    }
    .navbar-item{
      font-size: 1em;
    }
    .column {
      margin: 1rem 0;
      .icon {
        margin-bottom: 1rem;
      }
    }
  }
}
